.button {
  border-radius: 0.3em;
  padding: 0.4em 0.6em;
  color: $theme-600;
  border: 1.5px solid $theme-200;
  background-color: $theme-100;
  text-decoration: none;
  transition: color 300ms ease, background-color 300ms ease,
    border-color 300ms ease;

  @include dark {
    color: $theme-400;
    border-color: $theme-800;
    background-color: $theme-900;
  }

  &:hover,
  &:focus {
    color: $theme-700;
    border-color: $theme-600;
    background-color: $theme-200;

    @include dark {
      color: $theme-300;
      border-color: $theme-700;
      background-color: $theme-800;
    }
  }

  &:active {
    background-color: $theme-300;

    @include dark {
      background-color: $theme-700;
    }
  }
}
