$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("../theme/icons/icons.eot?bd9914ecf7c4bbc617d27038d3580a16#iefix") format("embedded-opentype"),
url("../theme/icons/icons.woff2?bd9914ecf7c4bbc617d27038d3580a16") format("woff2"),
url("../theme/icons/icons.woff?bd9914ecf7c4bbc617d27038d3580a16") format("woff");
}

[class^="icon-"], [class*=" icon-"] {
  display: flex;
  align-items: center;
  gap: 0.2em;

  &:where(a, span, i) {
    display: inline-flex;
  }

  &::before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

$icons-map: (
    "arrow-square-in": "\f101",
    "arrow-square-out": "\f102",
    "book-open-text": "\f103",
    "book-open": "\f104",
    "book": "\f105",
    "bookmarks-simple": "\f106",
    "books": "\f107",
    "caret-down": "\f108",
    "caret-left": "\f109",
    "caret-right": "\f10a",
    "caret-up": "\f10b",
    "circle-notch": "\f10c",
    "export": "\f10d",
    "house": "\f10e",
    "link": "\f10f",
    "magnifying-glass": "\f110",
    "map-pin-line": "\f111",
    "notebook": "\f112",
    "user": "\f113",
);

.icon-arrow-square-in::before {
    content: map-get($icons-map, "arrow-square-in");
}
.icon-arrow-square-out::before {
    content: map-get($icons-map, "arrow-square-out");
}
.icon-book-open-text::before {
    content: map-get($icons-map, "book-open-text");
}
.icon-book-open::before {
    content: map-get($icons-map, "book-open");
}
.icon-book::before {
    content: map-get($icons-map, "book");
}
.icon-bookmarks-simple::before {
    content: map-get($icons-map, "bookmarks-simple");
}
.icon-books::before {
    content: map-get($icons-map, "books");
}
.icon-caret-down::before {
    content: map-get($icons-map, "caret-down");
}
.icon-caret-left::before {
    content: map-get($icons-map, "caret-left");
}
.icon-caret-right::before {
    content: map-get($icons-map, "caret-right");
}
.icon-caret-up::before {
    content: map-get($icons-map, "caret-up");
}
.icon-circle-notch::before {
    content: map-get($icons-map, "circle-notch");
}
.icon-export::before {
    content: map-get($icons-map, "export");
}
.icon-house::before {
    content: map-get($icons-map, "house");
}
.icon-link::before {
    content: map-get($icons-map, "link");
}
.icon-magnifying-glass::before {
    content: map-get($icons-map, "magnifying-glass");
}
.icon-map-pin-line::before {
    content: map-get($icons-map, "map-pin-line");
}
.icon-notebook::before {
    content: map-get($icons-map, "notebook");
}
.icon-user::before {
    content: map-get($icons-map, "user");
}
