$breakpoints: (
  "xs": 400px,
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
);

$gutter: 1rem;

$border-color: $slate-200;
$invert-border-color: $slate-700;

:root {
  --border-color: #{$border-color};

  @include dark {
    --border-color: #{$invert-border-color};
  }

  scroll-padding-top: 3rem;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid var(--border-color);
  border-style: solid;
}

body {
  margin: 0;
  transition: background-color 150ms ease-in-out;
  background-color: $slate-50;

  @include dark {
    background-color: $slate-900;
  }
}

.container {
  max-width: 65ch;
  padding: 0 $gutter;
  margin: auto;

  &--relative {
    position: relative;
  }
}

@each $size, $value in $breakpoints {
  .container-#{$size} {
    max-width: $value;
    padding: 0 $gutter;
    margin: auto;
  }
}

@function width($size) {
  @return map-get($breakpoints, $size);
}
